.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.cards {
    .cards-card-info {
        color: var(--on-surface-light);

        h4 {
            font-size: var(--body2-font-size);
            line-height: var(--body2-line-height);
            font-weight: 700;
        }

        p {
            font-size: var(--body2-font-size);
            line-height: var(--body2-line-height);
            font-weight: 400;
        }
    }
}
