.herofeature {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.herofeature .left {
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

.herofeature .right {
    align-self: flex-start;
    border-left: none;
    margin-top: 20px;
    padding-left: 0;
}

.herofeature .right a {
    background-color: transparent;
    color: var(--bg-blue);
    list-style: none;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media screen and (width >= 600px) {
    .herofeature {
        align-items: flex-start;
        flex-direction: row;
    }

    .herofeature .left {
        width: 50%;
    }

    .herofeature .right {
        border-left: 1px solid var(--red02);
        margin-top: 0;
        padding-left: 15px;
    }
}

@media screen and (width >= 1024px) {
    .herofeature .left {
        padding-right: 150px;
    }

    .herofeature .right:first-child {
        font-size: 22px;
    }
}
