@import url("./themes/brown.css");
@import url("./themes/teal.css");
@import url("./themes/red.css");
@import url("./themes/fuchsia.css");
@import url("./themes/green.css");
@import url("./themes/orange.css");
@import url("./themes/purple.css");
@import url("./themes/yellow.css");
@import url("./themes/blue-accent.css");
:root {
    --nsw-palette-blue-01: #002664;
    --nsw-palette-blue-02: #146cfd;
    --nsw-palette-blue-03: #8ce0ff;
    --nsw-palette-blue-04: #cbedfd;
    --nsw-palette-purple-01: #441170;
    --nsw-palette-purple-02: #8055f1;
    --nsw-palette-purple-03: #cebfff;
    --nsw-palette-purple-04: #e6e1fd;
    --nsw-palette-fuchsia-01: #65004d;
    --nsw-palette-fuchsia-02: #d912ae;
    --nsw-palette-fuchsia-03: #f4b5e6;
    --nsw-palette-fuchsia-04: #fddef2;
    --nsw-palette-red-01: #630019;
    --nsw-palette-red-02: #d7153a;
    --nsw-palette-red-03: #ffb8c1;
    --nsw-palette-red-04: #ffe6ea;
    --nsw-palette-orange-01: #941b00;
    --nsw-palette-orange-02: #f3631b;
    --nsw-palette-orange-03: #ffce99;
    --nsw-palette-orange-04: #fdeddf;
    --nsw-palette-brown-01: #523719;
    --nsw-palette-brown-02: #b68d5d;
    --nsw-palette-brown-03: #e8d0b5;
    --nsw-palette-brown-04: #ede3d7;
    --nsw-palette-yellow-01: #694800;
    --nsw-palette-yellow-02: #faaf05;
    --nsw-palette-yellow-03: #fde79a;
    --nsw-palette-yellow-04: #fff4cf;
    --nsw-palette-green-01: #004000;
    --nsw-palette-green-02: #00aa45;
    --nsw-palette-green-03: #a8edb3;
    --nsw-palette-green-04: #dbfadf;
    --nsw-palette-teal-01: #0b3f47;
    --nsw-palette-teal-02: #2e808e;
    --nsw-palette-teal-03: #8cdbe5;
    --nsw-palette-teal-04: #d1eeea;
    --nsw-palette-black: #000;
    --nsw-palette-grey-01: #22272b;
    --nsw-palette-grey-02: #495054;
    --nsw-palette-grey-03: #cdd3d6;
    --nsw-palette-grey-04: #ebebeb;
    --nsw-palette-off-white: #f2f2f2;
    --nsw-palette-white: #fff;
    --nsw-palette-blue-01-rgb: 0, 38, 100;
    --nsw-palette-blue-02-rgb: 20, 108, 253;
    --nsw-palette-blue-03-rgb: 140, 224, 255;
    --nsw-palette-blue-04-rgb: 203, 237, 253;
    --nsw-palette-purple-01-rgb: 68, 17, 112;
    --nsw-palette-purple-02-rgb: 128, 85, 241;
    --nsw-palette-purple-03-rgb: 206, 191, 255;
    --nsw-palette-purple-04-rgb: 230, 225, 253;
    --nsw-palette-fuchsia-01-rgb: 101, 0, 77;
    --nsw-palette-fuchsia-02-rgb: 217, 18, 174;
    --nsw-palette-fuchsia-03-rgb: 244, 181, 230;
    --nsw-palette-fuchsia-04-rgb: 253, 222, 242;
    --nsw-palette-red-01-rgb: 99, 0, 25;
    --nsw-palette-red-02-rgb: 215, 21, 58;
    --nsw-palette-red-03-rgb: 255, 184, 193;
    --nsw-palette-red-04-rgb: 255, 230, 234;
    --nsw-palette-orange-01-rgb: 148, 27, 0;
    --nsw-palette-orange-02-rgb: 243, 99, 27;
    --nsw-palette-orange-03-rgb: 255, 206, 153;
    --nsw-palette-orange-04-rgb: 253, 237, 223;
    --nsw-palette-brown-01-rgb: 82, 55, 25;
    --nsw-palette-brown-02-rgb: 182, 141, 93;
    --nsw-palette-brown-03-rgb: 232, 208, 181;
    --nsw-palette-brown-04-rgb: 237, 227, 215;
    --nsw-palette-yellow-01-rgb: 105, 72, 0;
    --nsw-palette-yellow-02-rgb: 250, 175, 5;
    --nsw-palette-yellow-03-rgb: 253, 231, 154;
    --nsw-palette-yellow-04-rgb: 255, 244, 207;
    --nsw-palette-green-01-rgb: 0, 64, 0;
    --nsw-palette-green-02-rgb: 0, 170, 69;
    --nsw-palette-green-03-rgb: 168, 237, 179;
    --nsw-palette-green-04-rgb: 219, 250, 223;
    --nsw-palette-teal-01-rgb: 11, 63, 71;
    --nsw-palette-teal-02-rgb: 46, 128, 142;
    --nsw-palette-teal-03-rgb: 140, 219, 229;
    --nsw-palette-teal-04-rgb: 209, 238, 234;
    --nsw-palette-black-rgb: 0, 0, 0;
    --nsw-palette-grey-01-rgb: 34, 39, 43;
    --nsw-palette-grey-02-rgb: 73, 80, 84;
    --nsw-palette-grey-03-rgb: 205, 211, 214;
    --nsw-palette-grey-04-rgb: 235, 235, 235;
    --nsw-palette-off-white-rgb: 242, 242, 242;
    --nsw-palette-white-rgb: 255, 255, 255;
}

:root {
    --nsw-brand-dark: #002664;
    --nsw-brand-light: #cbedfd;
    --nsw-brand-supplementary: #146cfd;
    --nsw-brand-accent: #d7153a;
    --nsw-black: #000;
    --nsw-grey-01: #22272b;
    --nsw-grey-02: #495054;
    --nsw-grey-03: #cdd3d6;
    --nsw-grey-04: #ebebeb;
    --nsw-off-white: #f2f2f2;
    --nsw-white: #fff;
    --nsw-brand-dark-rgb: 0, 38, 100;
    --nsw-brand-light-rgb: 203, 237, 253;
    --nsw-brand-supplementary-rgb: 20, 108, 253;
    --nsw-brand-accent-rgb: 215, 21, 58;
    --nsw-black-rgb: 0, 0, 0;
    --nsw-grey-01-rgb: 34, 39, 43;
    --nsw-grey-02-rgb: 73, 80, 84;
    --nsw-grey-03-rgb: 205, 211, 214;
    --nsw-grey-04-rgb: 235, 235, 235;
    --nsw-off-white-rgb: 242, 242, 242;
    --nsw-white-rgb: 255, 255, 255;
    --nsw-text-dark: #22272b;
    --nsw-text-light: #fff;
    --nsw-text-dark-rgb: 34, 39, 43;
    --nsw-text-light-rgb: 255, 255, 255;
    --nsw-link: #002664;
    --nsw-link-light: rgb(229.5, 233.3, 239.5);
    --nsw-visited: rgb(84.7726824, 26.00794, 139.01706);
    --nsw-visited-light: rgb(220.95453648, 209.201588, 231.803412);
    --nsw-hover: rgba(0, 38, 100, 0.1);
    --nsw-hover-light: rgba(229.5, 233.3, 239.5, 0.1);
    --nsw-active: rgba(0, 38, 100, 0.2);
    --nsw-active-light: rgba(229.5, 233.3, 239.5, 0.2);
    --nsw-focus: rgb(0, 133.6525866667, 178.999);
    --nsw-focus-light: rgb(204, 230.7305173333, 239.7998);
    --nsw-disabled: rgb(127.5, 146.5, 177.5);
    --nsw-link-rgb: 0, 38, 100;
    --nsw-link-light-rgb: 230, 233, 240;
    --nsw-visited-rgb: 85, 26, 139;
    --nsw-visited-light-rgb: 221, 209, 232;
    --nsw-hover-rgb: 0, 38, 100;
    --nsw-hover-light-rgb: 230, 233, 240;
    --nsw-active-rgb: 0, 38, 100;
    --nsw-active-light-rgb: 230, 233, 240;
    --nsw-focus-rgb: 0, 134, 179;
    --nsw-focus-light-rgb: 204, 231, 240;
    --nsw-disabled-rgb: 128, 147, 178;
    --nsw-status-success: #008a07;
    --nsw-status-success-bg: #e5f6e6;
    --nsw-status-info: #2e5299;
    --nsw-status-info-bg: #eaedf4;
    --nsw-status-warning: #c95000;
    --nsw-status-warning-bg: #fbeee5;
    --nsw-status-error: #b81237;
    --nsw-status-error-bg: #f7e7eb;
    --nsw-status-success-rgb: 0, 138, 7;
    --nsw-status-success-bg-rgb: 229, 246, 230;
    --nsw-status-info-rgb: 46, 82, 153;
    --nsw-status-info-bg-rgb: 234, 237, 244;
    --nsw-status-warning-rgb: 201, 80, 0;
    --nsw-status-warning-bg-rgb: 251, 238, 229;
    --nsw-status-error-rgb: 184, 18, 55;
    --nsw-status-error-bg-rgb: 247, 231, 235;
    /* Deprecated */
    --nsw-text-hover: var(--nsw-hover);
    --nsw-text-hover-light: var(--nsw-hover-light);
    --nsw-text-link: var(--nsw-link);
    --nsw-text-link-hover: var(--nsw-hover);
    --nsw-text-link-hover-light: var(--nsw-hover-light);
    --nsw-text-visited: var(--nsw-visited);
    /* Font */
    --nsw-font-family: "Public Sans", sans-serif;
    --nsw-font-size: 16px;
    --nsw-line-height: 1.5;
    --nsw-font-normal: 400;
    --nsw-font-bold: 700;
    --nsw-font-size-xxs-mobile: 0.75rem;
    --nsw-font-size-xxs-desktop: 0.75rem;
    --nsw-line-height-xxs-mobile: 1.5;
    --nsw-line-height-xxs-desktop: 1.5;
    --nsw-font-size-xs-mobile: 0.875rem;
    --nsw-font-size-xs-desktop: 0.875rem;
    --nsw-line-height-xs-mobile: 1.35;
    --nsw-line-height-xs-desktop: 1.35;
    --nsw-font-size-sm-mobile: 1rem;
    --nsw-font-size-sm-desktop: 1rem;
    --nsw-line-height-sm-mobile: 1.5;
    --nsw-line-height-sm-desktop: 1.5;
    --nsw-font-size-md-mobile: 1.125rem;
    --nsw-font-size-md-desktop: 1.25rem;
    --nsw-line-height-md-mobile: 1.33;
    --nsw-line-height-md-desktop: 1.4;
    --nsw-font-size-lg-mobile: 1.375rem;
    --nsw-font-size-lg-desktop: 1.5rem;
    --nsw-line-height-lg-mobile: 1.25;
    --nsw-line-height-lg-desktop: 1.33;
    --nsw-font-size-xl-mobile: 1.75rem;
    --nsw-font-size-xl-desktop: 2rem;
    --nsw-line-height-xl-mobile: 1.25;
    --nsw-line-height-xl-desktop: 1.25;
    --nsw-font-size-xxl-mobile: 2.25rem;
    --nsw-font-size-xxl-desktop: 3rem;
    --nsw-line-height-xxl-mobile: 1.25;
    --nsw-line-height-xxl-desktop: 1.25;
    /* Borders */
    --nsw-border-width: 1px;
    --nsw-border-style: solid;
    --nsw-border-color: var(--nsw-brand-accent);
    --nsw-border-radius: 0.25rem;
    /* Shadows */
    --nsw-box-shadow: 0 0.25rem 0.75rem 0 rgba(var(--nsw-black-rgb), 0.15);
    /* Maximum width of container */
    --nsw-container-width: 75rem;
}
